$color: #fff;
$white: #fefefe;
$gray: #ccc;
$light-gray: #e0e0e0;

body{
  width: 100%;
  text-align: center;
  background: $light-gray;
}

main {
    display: inline-block;
    width: 600px;
    padding: 50px;
    text-align: left;
    background: $white;
    border-radius: 10px;
    section{
      .main{
        width: 330px;
      }
    }
    aside{
      display: block;
      margin-left:20px;
      width:250px;
      height: 200px;
    }
      p {
        color:#fff;
        margin-bottom: 1.5em;
      }
}
